<h3>Account Approved</h3>
<p>Hello <%= name %>,</p>
<p>Great news! Your account has been reviewed and approved by an administrator.</p>
<a href="<%= loginUrl %>" class="btn">Log In to Your Dashboard</a>
