<h3>Security Alert: Password Changed</h3>
<p>Hello <%= name %>,</p>
<p>The password for your account was recently changed. If you performed this action, you can safely ignore this email.</p>
<p>If you did not change your password, please contact support immediately.</p>
