<h3>Welcome to MACPROTEC, <%= name %>!</h3>
<p>Thank you for signing up. We are thrilled to have you on board.</p>
<p>If you have any questions or need assistance, please feel free to reach out to our engineering support team.</p>
<a href="<%= appUrl %>" class="btn">Get Started</a>
