NODE_ENV="development"
PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/my_database?schema=public"
BETTER_AUTH_SECRET="super-secret-better-auth-key-min-32-chars-long"
BETTER_AUTH_URL="http://localhost:5000"
CLIENT_URL="http://localhost:3000"

# Nodemailer SMTP Configuration
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="smtp_username"
SMTP_PASS="smtp_password"
EMAIL_FROM="noreply@macprotec.com"

# Admin Seeder Credentials
ADMIN_NAME="System Administrator"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="Admin123!"
